.email-column {
  font-size: 18px;
  color: #595656;
  padding-left: 20px;
  width: 330px; /* Dodaj osnovnu širinu */
}

@media (min-width: 1024px) {
  .email-column {
    min-width: 300px;
    padding-left: 30px;
  }
}

@media (max-width: 615px) {
  .email-column {
    width: 250px;
    background-color: aqua;
    padding-left: 20px; /* Umanji padding za manje ekrane */
  }
}
@media (max-width: 584px) {
  .email-column {
    width: 220px;
    background-color: aqua;
    padding-left: 20px; /* Umanji padding za manje ekrane */
  }
}

@media (max-width: 497px) {
  .email-column {
    min-width: 190px;
    padding-left: 30px;
  }
}

@media (max-width: 501px) {
  .scrollable-table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    min-width: 600px;
  }
}

@media (max-width: 498px) {
  .loginButtTitle {
    width: 100px;
    font-size: 5px;
  }
}

.titleHomePage {
  font-size: 32px; /* Osnovna veličina za veće ekrane */
  color: rgb(89, 86, 86);
}

@media (max-width: 419px) {
  .titleHomePage {
    font-size: 25px; /* Ili bilo koja druga željena veličina */
  }
}
